h1,
h2,
h3,
h4,
h5,
h6 {
    color: #441EDA;
}

a{
    text-decoration: none;
    color: #6c3fe8;
}
a:hover{
    color: #7f34c9;
}
.errors {
    font-size: .875em;
    margin-top: 0.25em;
    color: #e60553;
}

body{
    background-color: #f4f2fa;
}
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}
.row{
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-purple{
    background-color: #6c3fe8;
    color: white;
}

.btn-purple:hover {
    background-color: #5228c4;
    color: white;
}

.text-purple{
    color: #6c3fe8;
}

